@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout2";
}

<h2>@ViewBag.Title</h2>

<ul>
   <table class="mui-table">
     <thead>
     <tr>
        <th>Number</th>
       <th>Name</th>
       <th>Surename</th>
     </tr>
     </thead>
     <tbody>
        @foreach (var item in Model)
        {
            <tr>
            <td>@item.IdStudent</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            </tr>
        }
     </tbody>
   </table>
</ul>