@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout2";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        A architecto aspernatur consequuntur cumque dolorem est eum explicabo magni molestias omnis, ratione, ut vitae! 
        Aspernatur eius eum harum inventore numquam officiis.</p>
</div>